{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <form action="pizzas/save" method="post">
        <div>
            <label for="sabor">sabor: </label>
            <input type="text" name="nome" id="nome">
        </div>
        <div>
            <label for="ingredientes">Ingredientes: </label>
            <input type="text" name="ingredientes" id="ingredientes">
        </div>
        <div>
            <label for="preco">Preco: </label>
            <input type="text" name="preco" id="preco">
        </div>
        <button type="submit">Salvar</button>
    </form>
{% endblock %}