{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <a href="/pizzas/add">Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Sabor</th>
            <th>Ingredientes</th>
            <th>Preco</th>
        </tr>
        {% for u in usuarios %}
        <tr>
            <td>{{u.nome}}</td>
            <td>{{u.email}}</td>
            <td>{{u.senha}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}