{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <a href="/pedidos/add">Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Usuario</th>
            <th>Pizza</th>
            <th>Data</th>
        </tr>
        {% for p in pedidos %}
        <tr>
            <td>{{p.usuario}}</td>
            <td>{{p.pizza}}</td>
            <td>{{p.data}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}