{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <form action="/pedidos/save" method="post">
        <div>
            <label for="nome">Nome: </label>
            <select name="usuario_id" id="nome" required>
                <option value=""></option>
                {% for u in usuarios %}
                <option value="{{u.id}}">{{u.nome}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="pizza">Pizza: </label>
            <select name="pizza_id" id="pizza" required>
                <option value=""></option>
                {% for p in pizzas %}
                <option value="{{p.id}}">{{p.sabor}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="data">Data: </label>
            <input type="date" name="data" id="data" required>
        </div>
        <button type="submit">Salvar</button>
    </form>
{% endblock %}